@import "reset";
$base-height:600px;
$base-width:800px;
$base-font-size:16px;
@keyframes moveGrad {
	0%{top: 0px;}
	50%{top: -180px;}
	100%{top: 0px;}
}
@mixin font($path,$font){
	@font-face{
		font-family:$font;
		font-style:normal;
		font-weight:normal;
		/*src:url('../../#{$path}/#{$font}.ttf') format('truetype');*/
		src:url('../../#{$path}/#{$font}.otf');
	}
}
@include font('fonts','Lasco_Bold');
/*Moving SVG letter's eyes*/
@mixin moveEeyes($classNum,$subNum,$cx:0,$cy:0,$reverse:false){
		@keyframes animEyes-#{$classNum}-#{$subNum} {
			0%{cx: #{$cx}px;}
			@if $reverse != true {
				50%{cx: #{$cx + 2}px;}
			}
			@else{
				50%{cx: #{$cx - 2}px;}
			}
			100%{cx: #{$cx}px;}
		}
}
/*First letter D*/
@include moveEeyes(l1,1,20,20);
@include moveEeyes(l1,2,40,20);
/*Second letter r*/
@include moveEeyes(l2,1,70,22,true);
@include moveEeyes(l2,2,87,22,true);
/*Third letter e*/
@include moveEeyes(l3,1,105,22);
@include moveEeyes(l3,2,117,22);
/*Fourth letter a*/
@include moveEeyes(l4,1,140,22,true);
@include moveEeyes(l4,2,155,22,true);
/*Fifth letter m*/
@include moveEeyes(l5,1,190,22);
@include moveEeyes(l5,2,210,22);
/*First letter T*/
@include moveEeyes(r1,1,18,14);
@include moveEeyes(r1,2,39,14);
/*Second letter e*/
@include moveEeyes(r2,1,60,22,true);
@include moveEeyes(r2,2,77,22,true);
/*Third letter a*/
@include moveEeyes(r3,1,102,22);
@include moveEeyes(r3,2,117,22);
/*Fourth letter c*/
@include moveEeyes(r4,1,142,22,true);
@include moveEeyes(r4,2,157,22,true);
/*Fifth letter h*/
@include moveEeyes(r5,1,192,23);
@include moveEeyes(r5,2,204,23);
html,body {
  font-size:$base-font-size;
  font-family:"Times New Roman";
  color:black;
  height:100%;
}
.wrapper{
	min-height:100%;
	width:100%;
	background-color:#f6f6f6;
	.wrapper__index{/*BG Image for main page*/
		height:$base-height;
		background-image:url('../../images/Main-page.png');
		background-position:center center;
		background-repeat:no-repeat;
		overflow:hidden;
		.wrapper__index__left{
			width:$base-width / 2;
			float:left;
			.wrapper__index__left_top{
				height:$base-height /3;
				svg{
					margin-left:120px;
				}
				/*background-color:yellow;*/
			}
			.wrapper__index__left_middle{
				height:$base-height /3;
				/*background-color:transparent;*/
				svg{
					margin-left:100px;
				}
				.eye1-1{
					animation:animEyes-l1-1  5s infinite;
				}
				.eye1-2{
					animation:animEyes-l1-2  5s infinite;
				}
				.eye2-1{
					animation:animEyes-l2-1  4s infinite;
				}
				.eye2-2{
					animation:animEyes-l2-2  4s infinite;
				}
				.eye3-1{
					animation:animEyes-l3-1  6s infinite;
				}
				.eye3-2{
					animation:animEyes-l3-2  6s infinite;
				}
				.eye4-1{
					animation:animEyes-l4-1  3s infinite;
				}
				.eye4-2{
					animation:animEyes-l4-2  3s infinite;
				}
				.eye5-1{
					animation:animEyes-l5-1  4s infinite;
				}
				.eye5-2{
					animation:animEyes-l5-2  4s infinite;
				}
			}
			.wrapper__index__left_bottom{
				height:$base-height /3;
				/*background-color:lightgreen;*/
			}
		}
		.wrapper__index__right{
			width:$base-width / 2;
			float:right;
			.wrapper__index__right_top{
				height:$base-height /3;
				svg{
					margin-left:75px;
				}
			}
			.wrapper__index__right_middle{
				height:$base-height /3;
				svg{
					margin-left:50px;
				}
				.eye1-1{
					animation:animEyes-r1-1  5s infinite;
				}
				.eye1-2{
					animation:animEyes-r1-2  5s infinite;
				}
				.eye2-1{
					animation:animEyes-r2-1  4s infinite;
				}
				.eye2-2{
					animation:animEyes-r2-2  4s infinite;
				}
				.eye3-1{
					animation:animEyes-r3-1  6s infinite;
				}
				.eye3-2{
					animation:animEyes-r3-2  6s infinite;
				}
				.eye4-1{
					animation:animEyes-r4-1  3s infinite;
				}
				.eye4-2{
					animation:animEyes-r4-2  3s infinite;
				}
				.eye5-1{
					animation:animEyes-r5-1  4s infinite;
				}
				.eye5-2{
					animation:animEyes-r5-2  4s infinite;
				}
			}
			.wrapper__index__right_bottom{
				height:$base-height /3;
			}
		}
	}
	.wrapper__profile{
		height:$base-height;
		background-color:#fce5c0;
			$menu-height:80px;
			$marginLeft:(110px + 40px);
			$rest-width:$base-width - $marginLeft;
		.wrapper__profile__menu{
			width:$rest-width;
			margin-left:$marginLeft;
			height:$menu-height;
			background-color:#a67b35;
			padding-top:20px;
			.wrapper__profile__menu__nav{
				width:inherit;
				background-color:blue;
				ul{
					width:inherit;
					background-color:#e8b57b;
					li{
						width:($rest-width - 50px) / 4;
						height:40px;
						float:left;
						margin-left:10px;
						background:#f288ed url('../../svg/ball.svg') 0px 5px/25px 25px no-repeat padding-box border-box scroll;
						padding-left:25px;
						border:1px solid #000;
						a{
							display:block;
							height:38px;
							text-decoration:none;
							padding:5px;
							border-left:1px solid #000;
							background-color:#fce5c0;
							text-align:center;
							font-family:Lasco_Bold;
							font-size:$base-font-size - 4px;
						}
					}
					&:after{
						content:"";
						display:table;
						clear:both;
					}
				}
			}
		}
		.wrapper__profile__content{
			@mixin profileSizeColor($bgColor,$cutWidth:0px,$cutHeight:0px){
				height:($base-height - $menu-height) - $cutHeight;
				width:$rest-width - $cutWidth;
				background-color:$bgColor;
			}
			@include profileSizeColor(lime);
			margin-left:$marginLeft;
			.wrapper__profile__content_settings{
				@include profileSizeColor(red,10px,10px);
			}
			.wrapper__profile__content_method-one{
				@include profileSizeColor(pink,10px,10px);
			}
		}
	}
	.auth{
		width:200px;
		height:180px;
		font-size:0.8rem;
		margin:-185px auto 0px;
		border:3px solid #fff;
		border-radius:20px;	
		color:#fff;
		position:relative;
		overflow:hidden;
		&:before{
				position:absolute;
				top:0px;
				left:0px;
				z-index:1;
				width:200px;
				height:360px;
				content:"";
				background:linear-gradient(to top,
				rgb(244, 83, 19) 0%,
				rgb(244, 226, 24) 50%,
				rgb(244, 83, 19) 100%);
				animation: moveGrad 9s infinite;
			}
		.auth__content{
			position:absolute;
				top:0px;
				left:0px;
				z-index:1;
				width:200px;
				height:360px;
			& > p{
				color:#000;
				font-weight:bold;
				text-align:center;
				margin-top:3px;
				font-size:$base-font-size - 2;
			}
			form{
				width:170px;
				height:100px;
				margin:3px 10px 10px 10px;
				%warn{
					font-size:10px;
					color:#BF034E;
					display:inline-block;
					margin-left:5px;
					text-align:center;
					font-weight:bold;
					width:78px;
					visibility:hidden;
					padding:1px;
					background:#f6f6f6;
					border-radius:5px;
				}
				.auth__content__logWarn{
					@extend %warn;
				}
				.auth__content__passWarn{
					@extend %warn;
				}
				.form-group{
					margin-bottom:0.2rem;
					label{
						color:#000;
					}
					input[type='submit']{
						padding:0.1rem 0.2rem;
						line-height:1;
						margin:2px 0px 0px 50px;
						border:1px solid #fff;
					}
					.form-control{
						line-height:1;
						padding:0.1px 0.2rem;
						margin-top:5px;
					}
					.forgottenPass{
						border:1px solid #fff;
						margin:8px 0px 0px 34px;
						width:110px;
						padding:2px;
						border-radius:5px;
					}
				}
			}
		}
	}
}
@keyframes greetingBlock{
	0%{
		top:$base-height / 2 - 260px;
		transform:scale(0.2,0.2);
	}
	20%{
		top:$base-height / 2 - 220px;
		transform:scale(0.3,0.3);
	}
	100%{
		top:($base-height - 200px) / 2;
		transform:scale(1,1);
	}
}
#greeting{
	width:$base-width;
	height:$base-height;
	background-color:rgba(0,0,0,0.8);
	position:absolute;
	top:0;
	left:0px;
	z-index:1000;
	$w:$base-width / 2;
	$h:$base-height - $w;
		.greeting-content{	
			width:$w;
			height:$h;
			animation-name: greetingBlock;
			animation-duration: 5s;
			animation-iteration-count: 1;
			animation-direction: normal;
			animation-timing-function: ease-out;
			background-color:#FED7A0;
			border:3px solid blue;
			border-radius:10px;
			position:absolute;
			left:($base-width - 400px) / 2;
			top:($base-height - 200px) / 2;
			z-index:1001;
			h1{
				text-align:center;
				padding:2px;
				border-bottom:2px solid #fff;
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				background-color:#E29BD1;
				font-family:Lasco_Bold;
				font-size:$base-font-size - 5px;
				span{
					display:block;
					color:#481A6E;
					font-weight:bold;
				}
			}
			.greeting-content__rus{
				text-align:center;
				text-indent:5px;
				background-color:#DBF0FF;
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				padding:3px;
				border-bottom:2px solid #fff;
				span{
					color:#5C40A9;
					font-weight:bold;
				}
			}
			.greeting-content__ukr{
				text-align:center;
				text-indent:5px;
				background-color:#FFFD9D;
				padding:3px;
				border-bottom:2px solid #fff;
				border-bottom-left-radius:5px;
				border-bottom-right-radius:5px;
				span{
					color:#5C40A9;
					font-weight:bold;
				}
			}
			#closeGreeting{
				display:block;
				width:40px;
				height:40px;
				position:absolute;
				top:$h - (40px + 5px);
				left:$w - (40px + 6px);
				border-top:3px solid blue;
				border-left:3px solid blue;
				border-top-left-radius:5px;
				border-bottom-right-radius:5px;
				&:before{
					content:"";
					display:block;
					width:7px;
					height:35px;
					border:1px solid #000;
					background-color:#f00;
					transform-origin:109% 77%;
					transform:rotate(45deg);
					transition:background-color 2s;
				}
				&:hover:before{background-color:#0f0;}
				&:after{
					content:"";
					display:block;
					width:7px;
					height:35px;
					border:1px solid #000;
					background-color:#f00;
					transform-origin:43% 50%;
					transform:rotate(132deg);
					position:relative;
					top:-35px;
					left:10px;
					transition:background-color 2s;
				}
				&:hover:after{background-color:#0f0;}
				&:hover{
					background-color:#F1EC8A;
				}
			}
		}
}
$settingsHeight:40px;
#basePanelText{
	width:110px;
	height:$settingsHeight;
	position:relative;
	top:-100%;
	left:0px;
	background-color:#e8b57b;
	transition: background-color 2s;
	border-bottom:2px solid #f8fc86;
	z-index:999;
	&:hover{
		background-color:#f9f509;
	}
	&:before{
		content:"";
		position:absolute;
		left:110px;
		top:0px;
		width:40px;
		height:$settingsHeight;
		background-color:#f7a445;
		border-bottom:2px solid #f8fc86;
		border-right:2px solid #f8fc86;
		border-left:2px solid #f8fc86;
		border-bottom-right-radius:5px;
		background-image:url('../../svg/wrench.svg');
		background-repeat:no-repeat;
		background-position:-2px -2px;
		z-index:998;
	}
	p{
		font-family:Lasco_Bold;
		font-size:$base-font-size + 1px;
		text-align:center;
		font-variant:small-caps;
		font-weight:bold;
	}
	p:first-of-type{
		font-size:$base-font-size + 2px;
	}
}
%settings__base__block{
	border:1px solid #afaf77;
	padding:1px;
	margin-bottom:2px;
	background-color:#e5d5b3;
}
.settings__base__slidePanel{
		$height:150px;
		position:absolute;
		left:0px;
		top:(($height * (-1)) + $settingsHeight);/* 150 * (-1) + 40 = -40 */
		width:150px;
		height:$height;
		padding:0px 5px;
		background-color:#f6f6f6;
		z-index:0;
		font-size:$base-font-size - 4px;
		font-family:Lasco_Bold;
		.settings__base_language{
			@extend %settings__base__block;
			.settings__base_language_header{
				
			}
			.settings__base_language_control{
				overflow:hidden;
				label:after{
					content:"";
					display:block;
					float:right;
					height:13px;
					width:20px;
					background-image: url('../../svg/flags.svg');
					background-repeat:no-repeat;
					background-size:40px 34px;
					border:1px solid #000;
				}
				label:first-child:after{
					background-position:-1px -23px;
				}
				label:last-child:after{
					background-position:-1px -12px;
					margin-left:3px;
				}
			}
		}
		.settings__base_music{
			@extend %settings__base__block;
			background-color:#b3e5b3;
			.settings__base_music_header{
				
			}
			.settings__base_music_control{
				label{
				
				}
			}
		}
		.settings__base_userPage{
			@extend %settings__base__block;
			.settings__base_userPage__userName{
				padding:0px 0px 0px 10px;
			}
			background-color:#f4b953;
			height:50px;
			.settings__base_userPage_profileShow{
				display:block;
			}
			.settings__base_userPage_profileHide{
				display:none;
			}
			#userSettingsPage{
				font-size:$base-font-size - 6px;
				width:100px;
				margin:5px 0px 0px 20px;
				border:1px solid #ea8e1e;
				border-radius:10px;
				&:hover{
					background-color:#dbccab;
				}
			}
		}
}

