@import "reset";
$base-height:600px;
$base-width:800px;
$base-font-size:16px;
@keyframes moveGrad {
	0%{top: 0px;}
	50%{top: -180px;}
	100%{top: 0px;}
}
@mixin font($path,$font){
	@font-face{
		font-family:$font;
		font-style:normal;
		font-weight:normal;
		/*src:url('../../#{$path}/#{$font}.ttf') format('truetype');*/
		src:url('../../#{$path}/#{$font}.otf');
	}
}
@include font('fonts','Lasco_Bold');
/*Moving SVG letter's eyes*/
@mixin moveEeyes($classNum,$subNum,$cx:0,$cy:0,$reverse:false){
		@keyframes animEyes-#{$classNum}-#{$subNum} {
			0%{cx: #{$cx}px;}
			@if $reverse != true {
				50%{cx: #{$cx + 2}px;}
			}
			@else{
				50%{cx: #{$cx - 2}px;}
			}
			100%{cx: #{$cx}px;}
		}
}
/*First letter D*/
@include moveEeyes(l1,1,20,20);
@include moveEeyes(l1,2,40,20);
/*Second letter r*/
@include moveEeyes(l2,1,70,22,true);
@include moveEeyes(l2,2,87,22,true);
/*Third letter e*/
@include moveEeyes(l3,1,105,22);
@include moveEeyes(l3,2,117,22);
/*Fourth letter a*/
@include moveEeyes(l4,1,140,22,true);
@include moveEeyes(l4,2,155,22,true);
/*Fifth letter m*/
@include moveEeyes(l5,1,190,22);
@include moveEeyes(l5,2,210,22);
/*First letter T*/
@include moveEeyes(r1,1,18,14);
@include moveEeyes(r1,2,39,14);
/*Second letter e*/
@include moveEeyes(r2,1,60,22,true);
@include moveEeyes(r2,2,77,22,true);
/*Third letter a*/
@include moveEeyes(r3,1,102,22);
@include moveEeyes(r3,2,117,22);
/*Fourth letter c*/
@include moveEeyes(r4,1,142,22,true);
@include moveEeyes(r4,2,157,22,true);
/*Fifth letter h*/
@include moveEeyes(r5,1,192,23);
@include moveEeyes(r5,2,204,23);
html,body {
  font-size:$base-font-size;
  font-family:"Times New Roman";
  color:black;
  height:100%;
}
.wrapper{
	min-height:100%;
	width:100%;
	background-color:#f6f6f6;
	.wrapper__index{/*BG Image for main page*/
		height:($base-height + 6px);
		background-image:url('../../images/Main-page.png');
		background-position:center center;
		background-repeat:no-repeat;
		background-size:810px 606px;
		overflow:hidden;
		.wrapper__index__left{
			width:$base-width / 2;
			float:left;
			.wrapper__index__left_top{
				height:$base-height /3;
				svg{
					margin-left:120px;
				}
				/*background-color:yellow;*/
			}
			.wrapper__index__left_middle{
				height:$base-height /3;
				/*background-color:transparent;*/
				svg{
					margin-left:100px;
				}
				.eye1-1{
					animation:animEyes-l1-1  5s infinite;
				}
				.eye1-2{
					animation:animEyes-l1-2  5s infinite;
				}
				.eye2-1{
					animation:animEyes-l2-1  4s infinite;
				}
				.eye2-2{
					animation:animEyes-l2-2  4s infinite;
				}
				.eye3-1{
					animation:animEyes-l3-1  6s infinite;
				}
				.eye3-2{
					animation:animEyes-l3-2  6s infinite;
				}
				.eye4-1{
					animation:animEyes-l4-1  3s infinite;
				}
				.eye4-2{
					animation:animEyes-l4-2  3s infinite;
				}
				.eye5-1{
					animation:animEyes-l5-1  4s infinite;
				}
				.eye5-2{
					animation:animEyes-l5-2  4s infinite;
				}
			}
			.wrapper__index__left_bottom{
				height:$base-height /3;
				/*background-color:lightgreen;*/
			}
		}
		.wrapper__index__right{
			width:$base-width / 2;
			float:right;
			.wrapper__index__right_top{
				height:$base-height /3;
				svg{
					margin-left:75px;
				}
			}
			.wrapper__index__right_middle{
				height:$base-height /3;
				svg{
					margin-left:50px;
				}
				.eye1-1{
					animation:animEyes-r1-1  5s infinite;
				}
				.eye1-2{
					animation:animEyes-r1-2  5s infinite;
				}
				.eye2-1{
					animation:animEyes-r2-1  4s infinite;
				}
				.eye2-2{
					animation:animEyes-r2-2  4s infinite;
				}
				.eye3-1{
					animation:animEyes-r3-1  6s infinite;
				}
				.eye3-2{
					animation:animEyes-r3-2  6s infinite;
				}
				.eye4-1{
					animation:animEyes-r4-1  3s infinite;
				}
				.eye4-2{
					animation:animEyes-r4-2  3s infinite;
				}
				.eye5-1{
					animation:animEyes-r5-1  4s infinite;
				}
				.eye5-2{
					animation:animEyes-r5-2  4s infinite;
				}
			}
			.wrapper__index__right_bottom{
				height:$base-height /3;
			}
		}
	}
	.wrapper__profile{
		height:($base-height + 6px);
		background-color:#fce5c0;
		position:relative;
			$menu-height:80px;
			$marginLeft:(110px + 40px);
			$rest-width: ($base-width - $marginLeft);
		.wrapper__profile__smokeBlock_hide{
			display:none;
		}
		.wrapper__profile__smokeBlock_show{
			display:block;
			position:absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			z-index:1000;
			background-color:rgba(0,0,0,0.7);
			.wrapper__profile__smokeBlock__child{
				background-color:rgba(239,228,167,1);
				color:#000;
				width:300px;
				height:100px;
				margin:50% auto 0px;
				position:relative;
				top:-150px;
				border:7px solid #827f58;
				border-radius:5px;
				padding:5px;
				box-sizing:border-box;
				& > p{
					height:50%;
					text-align:center;
				}
				& > div{
						height:50%;
					button{
						display:inline-block;
						height:30px;
						width:100px;
						padding:5px;
						margin-left:25px;
						text-align:center;
						border:2px solid #827f58;
						&:hover{
							background-color:#e5df72;
						}
					}
				}
			}
			.wrapper__profile__smokeBlock__child-info{
				background-color:rgba(239,228,167,1);
				color:#000;
				width:300px;
				height:40px;
				margin:0% auto 0px;
				position:relative;
				top:-130px;
				border:5px solid #827f58;
				border-radius:5px;
				padding:5px;
				box-sizing:border-box;
				display:none;
				& > p{
					position:absolute;
					top:0px;
					left:0px;
					font-size:1.1em;
					padding:5px;
					width:100%;
					text-align:center;
					background-color:rgba(239,228,167,1);
				}
				& > p:first-of-type{
					z-index:auto;
				}
				& > p:last-of-type{
					z-index:auto;
				}
			}
			.wrapper__profile__smokeBlock__loader{
				z-index:5;
				display:none;
				height:40px;
				width:30%;
				text-align:center;
				position:relative;
				top:-95px;
				left:280px;
				@keyframes loadingProcess{
					0%{
						background-position:0px 0px;
					}
					100%{
						background-position:120px 0px;
					}
				}
				&::after{
					content:"";
					display:block;
					height:15px;
					border:1px solid #fff;
					border-radius:5px;
					margin-top:5px;
					background-image: linear-gradient(to right,white,blue,white,blue,white,blue,white,blue,white,blue,white); 
					background-size:120px 20px;
					background-position:0px 0px;
					background-color:rgba(255,255,255,1);
					animation:loadingProcess 2s linear 0s infinite;
				}
			}
		}	
		.wrapper__profile__leftColumn{
			$topOffset:(150px + 40px);
			background-color:#e8b57b;
			border-top:2px solid #f8fc86;
			border-bottom:2px solid #f8fc86;
			position:absolute;
			bottom:40px;
			left:0px;
			z-index:0;
			height:($topOffset + 370px);
			width:$marginLeft;
			.wrapper__profile__leftColumn__subSlidingMenu{
				width:150px;
				height:($topOffset + 130px);
				border-right:2px solid #f8fc86;
				background-color:#fce5c0;
			}
			#profileLeftColumn{
				width:150px;
				height:240px;
				border-right:2px solid #f8fc86;
				thead {
					display:block;
					border-bottom:2px double #f6f6f6;	
					th{
						font-family:Lasco_Bold;
						font-size:$base-font-size - 4px;
						padding:4px 0px 4px 10px;
						&:first-letter{
							font-size:$base-font-size - 1px;
							text-transform:uppercase;
							}
						}
				}
				tbody{
					td{
						svg{
							margin:0px 0px 0px 15px;
						}
					}
				}
				tfoot{
					border-top:2px double #f6f6f6;
					td{
						padding:4px 0px 8px 0px;
						.wrapper__profile__leftColumn__start{
							text-align:center;
							font-family:Lasco_Bold;
							font-size:$base-font-size - 4px;
							width:100px;
							display:block;
							margin:0px auto;
							background-color:#f6f6f6;
							text-decoration:none;
							color:#000;
							border:1px solid #000;
							padding:1px;
							&:hover{
								background-color:#f8fc86;
							}
						}
					}
				}
			}
		}
		.wrapper__profile__menu{
			width:($rest-width + 10px);
			margin-left:$marginLeft;
			height:$menu-height;
			background-color:#a67b35;
			padding-top:20px;
			.wrapper__profile__menu__nav{
				width:inherit;
				background-color:blue;
				ul{
					width:inherit;
					background-color:#e8b57b;
					li{
						width:($rest-width - 50px) / 4;
						height:40px;
						float:left;
						margin-left:12px;
						background:#f288ed url('../../svg/ball.svg') 0px 5px/25px 25px no-repeat padding-box border-box scroll;
						padding-left:25px;
						border:1px solid #000;
						a{
							display:block;
							height:38px;
							text-decoration:none;
							padding:5px;
							border-left:1px solid #000;
							background-color:#fce5c0;
							text-align:center;
							font-family:Lasco_Bold;
							font-size:$base-font-size - 4px;
						}
						.a-profile__menu__settings_active{
							background-color:#e8fcc1;
						}
						.a-profile__menu__methodOne_active{
							background-color:#fba99c;
						}
						.a-profile__menu__methodTwo_active{
							background-color:#c7ebfa;
						}
						.a-profile__menu__methodThree_active{
							background-color:#fad6f4;
						}
					}
					&:after{
						content:"";
						display:table;
						clear:both;
					}
				}
			}
		}
		.wrapper__profile__content{
			width:($rest-width + 10px);
			height:($base-height - $menu-height);
			margin-left:$marginLeft;
			overflow:hidden;
			position:relative;
			@mixin profileColor($bgImage:"",$bgColor:#fda26d){
				@if $bgImage != ""{
					background:$bgColor url("../../images/#{$bgImage}") 20px 20px/330px 275px no-repeat padding-box border-box scroll;
				}
				@else{
					background-color:$bgColor;
				}
			}
			@include profileColor("",#fce5c0);
			%profile-content{
				width:($rest-width + 14px);
				height:($base-height - $menu-height - 5px);
				border:2px solid #f8fc86;
				position:absolute;
				top:5px;
			}
			@keyframes movePanelForward{
				from{
					left:648px;
				}
				to{
					left:-2px;
				}
			}
			@keyframes movePanelBack{
				from{
					left:-2px;
				}
				to{
					left:648px;
				}
			}
			.wrapper__profile__move-default-content{
				left:-2px;
				z-index:4;
			}
			.wrapper__profile__move-forward-content{
				animation:movePanelForward 2s ease-out;
				left:-2px;
				z-index:4;
			}
			.wrapper__profile__move-back-content{
				animation:movePanelBack 2s ease-out;
				left:648px;
				z-index:1;
			}
			.wrapper__profile__content_settings{
				@include profileColor("locker.png",#e8fcc1);
				@extend %profile-content;
				form{
					width:370px;
					margin-left:270px;
					legend{
						font-family:Lasco_Bold;
						font-size:$base-font-size - 2px;
						padding:5px;
						text-align:center;
						&:first-letter{
							font-size:$base-font-size + 2px;
						}
					}
					fieldset{
						& > p{
							margin:5px 0px 0px 0px;
							padding:5px;
							border:2px solid #11d1a1;
							border-radius:5px;
							background-color:#c0dffb;
							label{
								margin-left:5px;
								display:block;
								background:transparent url("../../svg/yesNo.svg") 200px 0px/35px 47px no-repeat padding-box border-box scroll;
							}
							input[type="submit"]{
								color:#000;
								padding:2px 10px;
								&:hover{
									background-color:#f4f5cf;
								}
							}
						}
						p:nth-of-type(3){
							background-color:#f4f5cf;
						}
						.wrapper__profile__content_settings-notify{
							color:#0b8a08;
							display:block;
						}
						.wrapper__profile__content_settings-notify-hide{
							display:none;
						}
						.wrapper__profile__content_settings-warning{
							color:#f47a34;
							display:block;
						}
						.wrapper__profile__content_settings-warning-hide{
							display:none;
						}
					}
				}
				.wrapper__profile__content_settings__listVerbs{
					border: 2px solid #A38D4C;
					top:30px;
					left:5%;
					width:90%;
					padding:0.25rem 0.25rem;
					background-color:#e8b57b;
					font-family:Lasco_Bold;
					font-size:$base-font-size - 2px;
					.wrapper__profile__content_settings__listVerbs__lastVisit{
						h1{
							margin-bottom:5px;
						}
						margin-bottom:0.3rem;
						padding: 0.25rem 0.25rem;
						background-color:#fce5c0;
					}
					.wrapper__profile__content_settings__listVerbs__verbButtons{
						margin-bottom:0rem;
						padding: 0.25rem 0.25rem;
						background-color:#fce5c0;
						h1{
							margin-bottom:5px;
						}
						& > a{
							background-color:#D0BC7F;
							border:2px solid #af9a24;
							padding:0.2rem;
							color:#fff;
							font-size:0.8rem;
							&:hover{
								border:2px solid #af9a24;
								background-color:#C3B146;
							}
						}
					}
				}
			}
			.wrapper__profile__content_method-one{
				@include profileColor("",#fba99c);
				@extend %profile-content;
			}
			.wrapper__profile__content_method-two{
				@include profileColor("",#c7ebfa);
				@extend %profile-content;
			}
			.wrapper__profile__content_method-three{
				@include profileColor("",#fad6f4);
				@extend %profile-content;
			}
		}
	}
	.wrapper__list-verbs{
		height:($base-height + 6px);
		width:($base-width + 10px);
		background-color:#f6e4b7;
		padding-top:40px;
		overflow:hidden;
		.wrapper__list-verbs__choose-list{
				width:100%;
				border:2px solid #000;
				p{
					float:left;
					width:50%;
					height:45px;
					padding:2px;
					box-sizing:border-box;
					&:first-child{
						border-right:2px solid #000;
						background-color:#86d795;
						span{
							&:first-child{
								padding-right:5px;
								margin-left:5px;
							}
						}
						button{
							background-color:#e8b843;
							padding: 3px;
							border-radius: 5px;
							margin-left: 140px;
							outline:none;
						}
					}
					&:last-child{
						background-color:#97d8a2;
						span{
							&:first-child{
								margin-left:5px;
							}
						}
						button{
							background-color:#e59a63;
							padding: 3px;
							border-radius: 5px;
							margin-left: 130px;
							outline:none;
						}
					}
				}
				&:after{
					content:"";
					display:table;
					clear:both;
				}
			}
		.wrapper__list-verbs__all-verbs{
			padding:5px;
			width:200%;
			%verb-row-style{
				width:4%;
				height:30px;
				box-sizing:border-box;
				font-size:14px;
				font-weight:bold;
				padding:2px 4px 2px 4px;
				border-right:2px solid #000;
				text-align:center;
				display:inline-block;
			}
			.wrapper__list-verbs__all-verbs__full-list-positive{
				margin-left:-0.2%;
			}
			.wrapper__list-verbs__all-verbs__full-list-negative{
				margin-left:-51%;
			}
			.wrapper__list-verbs__all-verbs__full-list{
				border:2px solid #000;
				/*width:48%;*/
				width:50%;
				float:left;
				height:500px;
				max-height:500px;
				.wrapper__list-verbs__all-verbs__full-list__header{
					background-color:#e8b843;
					border-bottom:2px solid #000;
					/*border-right:2px solid #000;*/
					height:30px;
					.wrapper__list-verbs__all-verbs__full-list__header__num{
						@extend %verb-row-style;
						width:31px;
					}
					.wrapper__list-verbs__all-verbs__full-list__header__v-1{
						@extend %verb-row-style;
						width:240px;
					}.wrapper__list-verbs__all-verbs__full-list__header__v-2{
						@extend %verb-row-style;
						width:240px;
					}.wrapper__list-verbs__all-verbs__full-list__header__v-3{
						@extend %verb-row-style;
						width:273px;
					}
				}
				.wrapper__list-verbs__all-verbs__full-list__rows{
					overflow-y:scroll;
					height:466px;
					.wrapper__list-verbs__all-verbs__full-list__rows__row{
						border-bottom:2px solid #000;
						border-right:2px solid #000;
						background-color:#f1f1d9;
						/*height:36px;*/
						height:60px;
						%rows{
							/*height:18px;*/
							height:30px;
							width:96%;
							margin-left:4%;
						}
						%cells{
							width:32%;
							/*height:18px;*/
							height:30px;
							display:inline-block;
							border-right:2px solid #000;
							text-align:center;
							box-sizing:border-box;
							font-size:14px;
							vertical-align:text-top;
							&:last-child{
								border-right:none;
							}
						}
						&:nth-child(2n+1){
							background-color:#f6f6f6;
						}
						.full-list__rows__row__ind{
							/*height:36px;*/
							height:60px;
							width:4%;
							border-right:2px solid #000;
							float:left;
							text-align:center;
							padding-top:20px;
						}
						.full-list__rows__row__ing{
							@extend %rows;
							span{
								@extend %cells;
								font-weight:bold;
							}
						}
						.full-list__rows__row__translate{
							@extend %rows;
							border-top:1px solid #000;
							span{
								@extend %cells;
							}
						}
						&:after{
							display:table;
							content:"";
							clear:both;
						}
					}
				}
			}
			.wrapper__list-verbs__all-verbs__portion-list-positive{
				/*We don't see this block*/
				margin-left:1%;
				margin-top:1%;
			}
			.wrapper__list-verbs__all-verbs__portion-list-negative{
				/*We see this block*/
				margin-left:-0.2%;
				margin-top:0;
			}
			.wrapper__list-verbs__all-verbs__portion-list{
				border:2px solid #000;
				width:50%;
				height:503px;
				float:left;
				position:relative;
				.wrapper__list-verbs__all-verbs__portion-list__header{
					background-color:#e59a63;
					border-bottom:2px solid #000;
					height:30px;
					.wrapper__list-verbs__all-verbs__portion-list__header__num{
						@extend %verb-row-style;
						padding:2px 3px 2px 3px;
						width:30px;
					}
					.wrapper__list-verbs__all-verbs__portion-list__header__v-1{
						@extend %verb-row-style;
						padding:2px 3px 2px 3px;
						width:252px;
					}
					.wrapper__list-verbs__all-verbs__portion-list__header__v-2{
						@extend %verb-row-style;
						padding:2px 3px 2px 3px;
						width:255px;
					}
					.wrapper__list-verbs__all-verbs__portion-list__header__v-3{
						@extend %verb-row-style;
						width:240px;
						padding:2px 3px 2px 3px;
						border-right:none;
					}
				}
				.wrapper__list-verbs__all-verbs__portion-list__pages{
					width:793px;
					height:470px;
					border:2px solid #000;
					position:relative;
					.wrapper__list-verbs__all-verbs__portion-list__page{
						position:absolute;
						top:-2px;
						left:-2px;
						width:801px;
						height:471px;
						border-bottom:2px solid #000;
						background-color:#f1f1d9;
						.wrapper__list-verbs__all-verbs__portion-list__page__row{
							height:47.14px;
							border-bottom:2px solid #000;
							%cells{
								width:252px;
								height:23.57px;
								display:inline-block;
								border-right:2px solid #000;
								text-align:center;
								box-sizing:border-box;
								font-size:13.3px;
								vertical-align:text-top;
								&:last-child{
									border-right:none;
								}
							}
							&:nth-child(2n+1){
								background-color:#f6f6f6;
							}
							.portion-list__page__row__ind{
								height:47.14px;
								width:30px;
								border-right:2px solid #000;
								float:left;
								text-align:center;
								padding-top:10px;
							}
							.portion-list__page__row__ing{
								@extend %cells;
								font-weight:bold;
								line-height:12px;
							}
							.portion-list__page__row__translate{
								@extend %cells;
								border-top:1px solid #000;
							}
							.portion-list__page__row_middle{
								width:255px;
							}
							span:nth-child(3n+4){
								border-right:none;
								width:264px;
							}
							&:after{
								display:table;
								content:"";
								clear:both;
							}
						}
					}
				}
				.wrapper__list-verbs__all-verbs__portion-list__pages:after{
					content:"";
					display:table;
					clear:both;
				}
				#control{
					@keyframes triangle{
						from{
							left:-20px;
						}
						to{
							left:-30px;
						}
					}
					&:before{
						content:"";
						width:0px;
						height:0px;
						border-top:20px solid transparent;
						border-left:20px solid transparent;
						border-right:20px solid transparent;
						border-bottom:20px solid #665026;
						position:relative;
						top:10px;
						left:-20px;
						display:block;
						transform:rotate(90deg);
						animation-name: triangle;
						animation-duration:1.5s;
						animation-iteration-count:infinite;
						animation-direction:alternate;
						animation-timing-function:linear; 
					}
					overflow:hidden;
					width:200px;
					height:70px;
					position:absolute;
					z-index:1;
					bottom:1.2em;
					right:-205px;
					padding:5px 0px 5px 20px;
					background-color:burlywood;
					border:2px solid #665026;
					border-right:none;
					border-top-left-radius:10px;
					border-bottom-left-radius:10px;
					%space{
						display:inline-block;
						width:50px;
						height:10px;
						background-color:transparent;
						padding:5px 5px;
					}
					%buttons{
						border:1px solid #76584C;
						border-radius:5px;
						background-color:#665026;
						display:inline-block;
						margin:2px 2px 2px 2px;
						width:50px;
						height:20px;
						font-family:Verdana,Helvetica,sans-serif;
						color:#CFA047;
						outline:none;
						padding:1px;
						&:hover{
							border-width:2px;
							background-color:#f7d28f;
						}
					}
					#hundreds{
						margin-left:10px;
						margin-top:-35px;
						#minesHun{
							@extend %buttons;
						}
						.space{
							@extend %space;
						}
						#plusHun{
							@extend %buttons;
						}
					}
					#trifle{
						margin-left:10px;
						margin-top:7px;
						#minesTrifle{
							@extend %buttons;
							background-color:#CFA047;
							color:#665026;
						}
						.space{
							@extend %space;
						}
						#plusTrifle{
							@extend %buttons;
							background-color:#CFA047;
							color:#665026;
						}
					}
				}
			}
			&:after{
				content:"";
				display:table;
				clear:both;
			}
		}
	}
	.wrapper__exercises{
		min-height:606px;
		padding-top:40px;
		background-color:#fce5c0;
		.wrapper__exercises__main{
			width:760px;
			margin:0px auto;
			.wrapper__exercises__main__exercise-1{
				background-color:#fba99c;
				background-image:url("../../svg/ball.svg");
				background-position:top left;
				background-repeat:no-repeat;
				background-size:40px 40px;
				margin-top:10px;
				margin-bottom:20px;
				.card-header{
					padding: 0.75rem 1.25rem 0.75rem 4.25rem;
					font-family:Lasco_Bold;
					font-size:$base-font-size - 2px;
				}
				.card-body{
					.btn{
						border:1px solid #d74730;
						padding:2px 5px 2px 5px;
						margin-left:600px;
						background-color:#f0d6d2;
						color:#d74730;
						&:hover{
							background-color:#bc5a4a;
							color:#fff;
						}
					}
				}
			}
			.wrapper__exercises__main__exercise-2{
				background:#c7ebfa url("../../svg/ball.svg") top left/40px 40px no-repeat padding-box border-box scroll;
				margin-bottom:20px;
				.card-header{
					padding: 0.75rem 1.25rem 0.75rem 4.25rem;
					font-family:Lasco_Bold;
					font-size:$base-font-size - 2px;
				}
				.card-body{
					.btn{
						padding:2px 5px 2px 5px;
						margin-left:600px;
						background-color:#b6e3f6;
						color:#0062cc;
						&:hover{
							background-color:#4da5c9;
							color:#fff;
						}
					}
				}
			}
			.wrapper__exercises__main__exercise-3{
				background:#fad6f4 url("../../svg/ball.svg") top left/40px 40px no-repeat padding-box border-box scroll;
				.card-header{
					padding: 0.75rem 1.25rem 0.75rem 4.25rem;
					font-family:Lasco_Bold;
					font-size:$base-font-size - 2px;
				}
				.card-body{
					.btn{
						border:1px solid #da27bc;
						padding:2px 5px 2px 5px;
						margin-left:600px;
						background-color:#f4bfeb;
						color:#da27bc;
						&:hover{
							background-color:#cd6fbd;
							color:#fff;
						}
					}
				}
			}
		}
	}
	.wrapper__exercises-result{
		$scoreboard-top-padding: 186px;
		min-height:606px;
		padding-top:40px;
		background-color:#fce5c0;
		.scoreboard{
			width:700px;
			height: 606px - $scoreboard-top-padding;
			border:7px solid #b3a2a2; 
			background-color:#1f0606;
			color:#c40e0e;
			margin:0px auto;
			font-size:25px;
			font-family:Lasco_Bold;
			caption{
				caption-side:top;
				text-align:center;
			}
			.scoreboard__thead{
				tr{
					th{
						color:#fff;
						width:calc(100% / 3);
						text-align:center;
						padding:5px;
					}
				}
			}
			.scoreboard__tbody{
				height:250px;
				tr{
					td{
						width:calc(100% / 3);
						text-align:center;
						font-size:25px;
						padding-top:10px;
					}
					.scoreboard__player{
						&::first-letter{
							font-size:1.7em;
						}
					}
					.scoreboard__passed-pages{
						
					}
					.scoreboard__time{
						
					}
					.scoreboard__correct{
						color:#6bed4e;
					}
					.scoreboard__total-header{
						color:#fadd4d;
					}
					.scoreboard__correct-choosen{
						color:#6bed4e;
					}
					.scoreboard__incorrect{
						color:#fc2b2b;
					}
					.scoreboard__total{
						color:#fadd4d;
					}
					.scoreboard__incorrect-choosen{
						color:#fc2b2b;
					}
				}
			}
			.scoreboard__tfoot{
				tr{
					.scoreboard__general-text{
						color:#1737d4;
						font-size:0.8em;
						text-align:center;
						padding:5px;
						&::first-letter{
							font-size:1.2em;
						}
					}
					.scoreboard__general-percentage{
						padding:5px;
						text-align:center;
						color:#1737d4;
					}
				}
			}
		}
		.return-navigation{
			height:80px;
			width:100%;
			.return-navigation__button{
				display:block;
				margin:20px auto;
				width:300px;
				font:normal small-caps bold 16px/24px Verdana,Helvetica sans-serif;
			}
		}
	}
	%methodsBaseStyle{
		/*Countdown code here*/
		.main-window{
			width:810px;
			height:606px;
			position:absolute;
			top:0px;
			left:0px;
			z-index:1002;
			background-color:rgba(0,0,0,0.8);
			.numbers{
				width:300px;
				height:300px;
				position:relative;
				top:150px;
				left:250px;
				.numbers__nums-pos{
					width:200px;
					height:300px;
					position:absolute;
					top:0px;
					left:50px;
				}
				.numbers__n-1{
					display:none;
				}
				.numbers__n-2{
					display:none;
				}
				.numbers__n-3{
					display:none;
				}
				.numbers__countDownNum{
					display:block;
					z-index:1;
					animation:spinAndHide 1.6s linear 0s 1 normal;
				}
				@keyframes spinAndHide{
					0%{
						transform:scale(1,1) rotate(0deg);
					}
					100%{
						transform:scale(0,0) rotate(360deg);
					}
				}
			}
		}
		height:606px;
		padding-top:0px;
		background-color:#fce5c0;
	}
	%infoPanel{
		%textBlock{
			display:inline-block;
			heigh:inherit;
			min-width:30px;
			vertical-align:top;
			font-size:20px;
			margin-top:10px;
			font-family:Lasco_Bold;
			margin-left:35px;
			font-weight:bold;
			color:#808080;
		}
		.info-panel__pages{
			float:left;
			width:300px;
			height:40px;
			font-size:0px;
			.info-panel__pages-text{
				@extend %textBlock;
			}
			.info-panel__dash{
				@extend %textBlock;
				margin-left:10px;
				min-width:20px;
			}
		}
		.info-panel__timer{
			float:left;
			width:350px;
			height:40px;
			.info-panel__timer-text{
				@extend %textBlock;
				font-size:17px;
			}
		}
		&:after{
			content:"";
			display:table;
			clear:both;
		}
	}
	.wrapper__method1{
		@extend %methodsBaseStyle;
		.wrapper__method1__info-panel{
			width:650px;
			height:40px;
			margin-left:150px;
			@extend %infoPanel;
			/*background-color:lime;*/
		}
		.wrapper__method1__main{
			height:560px;
			padding-top:7px;
			width:800px;
			background-color:#fba99c;
			margin:0px auto;
			.wrapper__method1__main__task{
				&:nth-child(2n+1){
					background-color:#C5C4C5;
				}
				&:nth-child(2n+2){
					background-color:#D8D4DD;
				}
				width:705px;
				height:50px;
				margin:0px auto 5px;
				border:1px solid #000;
				.task__row0{
					width:175px;
					height:48px;
					float:left;
					border-right:1px solid grey;
					.task__translate{
						text-align:center;
						width:175px;
						padding:2px 4px;
						text-align:center;
						height:25px;
						color:#5D0F6D;
						font-variant:small-caps;
					}
				}
				.task__row1{
					height:50%;
					width:528px;
					float:left;
					background-color:#AAAAAA;
					text-align:right;
					font: normal normal 11.5px/14px Verdana,Helvetica,sans-serif;
					.task__unique{
						visibility:hidden;
						display:inline-block;
					}
					.task__hidden{
						visibility:hidden;
						display:inline-block;
					}
					.task__correct{
						background-color:#9cdb95;
						border-radius:5px;
						margin-right:10px;
						cursor:pointer;
					}
					.task__incorrect{
						background-color:#f77474;
						border-radius:5px;
						cursor:pointer;
					}
				}
				.task__row2{
					height:50%;
					width:528px;
					float:left;
					%word{
						float:left;
						width:175px;
						padding:2px 4px;
						text-align:center;
					}
					
					.task__e1{
						@extend %word;
					}
					.task__e2{
						@extend %word;
					}
					.task__e3{
						@extend %word;
					}
					&:after{
						content:"";
						display:table;
						clear:both;
					}
				}
				&:after{
					content:"";
					display:table;
					clear:both;
				}
			}
		}
		.wrapper__method1__move-on{
			display:none;
			width:50px;
			height:50px;
			position:relative;
			top:-50px;
			left:760px;
			border-radius:50%;
			background-color:#f77474;
			border:1px solid #fff;
			overflow:hidden;
			.move-on__link{
				display: block;
				width:50px;
				height:50px;
				overflow:hidden;
				position:absolute;
				top:0px;
				left:0px;
				@keyframes moveonChoose{
					0% {
						transform: rotate(90deg) translateY(-13px) scale(0.6);
					}
					50%{
						transform: rotate(90deg) translateY(-18px) scale(0.9);
					}
					100%{
						transform: rotate(90deg) translateY(-13px) scale(0.6);
					}
				}
				&:after{
					content:"";
					display:block;
					width:0px;
					height:0px;
					border-top:25px solid transparent;
					border-left:25px solid transparent;
					border-right:25px solid transparent;
					border-bottom:25px solid #c95d5d;
					/*transform: rotate(90deg) translateY(-13px) scale(0.8);*/
					animation: moveonChoose 3s infinite;
				}
			}
		}
	}
	.wrapper__method2{
		@extend %methodsBaseStyle;
		overflow:hidden;
		.wrapper__method2__info-panel{
			width:650px;
			height:40px;
			margin-left:150px;
			@extend %infoPanel;
			/*background-color:lime;*/
		}
		.wrapper__method2__main{
			height:560px;
			padding-top:7px;
			width:800px;
			background-color:#c7ebfa;
			margin:0px auto;
			.wrapper__method2__main__task{
				&:nth-child(2n+1){
					background-color:#C5C4C5;
				}
				&:nth-child(2n+2){
					background-color:#D8D4DD;
				}
				width:705px;
				height:50px;
				margin:0px auto 5px;
				border:1px solid #000;
				.task__row0{
					width:175px;
					height:48px;
					float:left;
					border-right:1px solid grey;
					.task__translate{
						text-align:center;
						width:175px;
						padding:2px 4px;
						text-align:center;
						height:25px;
						color:#5D0F6D;
						font-variant:small-caps;
					}
				}
				.task__row1{
					height:50%;
					width:528px;
					float:left;
					background-color:#AAAAAA;
					text-align:right;
					font: normal normal 11.5px/14px Verdana,Helvetica,sans-serif;
					.task__unique{
						visibility:hidden;
						display:inline-block;
					}
					.task__hidden{
						visibility:hidden;
						display:inline-block;
					}
					.task__result{
						visibility:hidden;
						display:inline-block;
					}
				}
				.task__row2{
					height:50%;
					width:528px;
					float:left;
					%word{
						float:left;
						width:175px;
						padding:2px 4px;
						text-align:center;
					}
					.task__e1{
						@extend %word;
					}
					.task__e2{
						@extend %word;
					}
					.task__e3{
						@extend %word;
					}
					.task__empty-field{
						background-color:#56BAEC;
						border: 1px solid #604A5E;
						border-radius:5px;
						height:22px;
						width:175px;
						margin-top:1px;
						margin-left:1px;
					}
					&:after{
						content:"";
						display:table;
						clear:both;
					}
				}
				&:after{
					content:"";
					display:table;
					clear:both;
				}
			}
		}
		.wrapper__method2__single-words{
			height:460px;
			padding-top:7px;
			width:300px;
			background-color:#028ACE;
			position:relative;
			top:-510px;
			left:780px;
			border:2px solid #604A5E;
			border-top-left-radius:5px;
			border-bottom-left-radius:5px;
			.single-words__word{
				width:165px;
				height:25px;
				padding:2px;
				background-color:#56BAEC;
				border:1px solid #604A5E;
				border-radius:5px;
				color:#4E414D;
				margin-bottom:19px;
				margin-left:-10px;
				transition: margin-left 0.3s linear;
				&:first-child{
					margin-top:10px;
				}
				&:hover{
					margin-left:-138px;
					cursor:move;
					text-align:center;
				}
			}
		}
		.wrapper__method2__move-on{
			display:none;
			width:50px;
			height:50px;
			position:relative;
			top:-510px;
			left:760px;
			border-radius:50%;
			background-color:#56BAEC;
			border:1px solid #fff;
			overflow:hidden;
			.move-on__link{
				display: block;
				width:50px;
				height:50px;
				overflow:hidden;
				position:absolute;
				top:0px;
				left:0px;
				@keyframes moveonDrag{
					0% {
						transform: rotate(90deg) translateY(-13px) scale(0.6);
					}
					50%{
						transform: rotate(90deg) translateY(-18px) scale(0.9);
					}
					100%{
						transform: rotate(90deg) translateY(-13px) scale(0.6);
					}
				}
				&:after{
					content:"";
					display:block;
					width:0px;
					height:0px;
					border-top:25px solid transparent;
					border-left:25px solid transparent;
					border-right:25px solid transparent;
					border-bottom:25px solid #028ACE;
					/*transform: rotate(90deg) translateY(0px);*/
					animation: moveonDrag 3s infinite;
				}
			}
		}
	}
	.wrapper__method3{
		@extend %methodsBaseStyle;
		overflow:hidden;
		.wrapper__method3__info-panel{
			width:650px;
			height:40px;
			margin-left:150px;
			@extend %infoPanel;
			/*background-color:lime;*/
		}
		.wrapper__method3__main{
			height:560px;
			padding-top:7px;
			width:800px;
			background-color:#fad6f4;
			margin:0px auto;
			.wrapper__method3__main__task{
				&:nth-child(2n+1){
					background-color:#C5C4C5;
				}
				&:nth-child(2n+2){
					background-color:#D8D4DD;
				}
				width:705px;
				height:50px;
				margin:0px auto 5px;
				border:1px solid #000;
				.task__row0{
					width:175px;
					height:48px;
					float:left;
					border-right:1px solid grey;
					.task__translate{
						text-align:center;
						width:175px;
						padding:2px 4px;
						text-align:center;
						height:25px;
						color:#5D0F6D;
						font-variant:small-caps;
					}
				}
				.task__row1{
					height:50%;
					width:528px;
					float:left;
					background-color:#AAAAAA;
					text-align:right;
					font: normal normal 11.5px/14px Verdana,Helvetica,sans-serif;
					.task__unique{
						visibility:hidden;
						display:inline-block;
					}
					.task__hidden{
						visibility:hidden;
						display:inline-block;
					}
					.task__result{
						visibility:hidden;
						display:inline-block;
					}
					.task__word{
						visibility:hidden;
						display:inline-block;
					}
				}
				.task__row2{
					height:50%;
					width:528px;
					float:left;
					%word{
						float:left;
						width:175px;
						padding:2px 4px;
						text-align:center;
					}
					.task__e1{
						@extend %word;
					}
					.task__e2{
						@extend %word;
					}
					.task__e3{
						@extend %word;
					}
					.task__empty-field{
						color:#000;
						border:2px solid #da27bc;
						border-radius:5px;
						padding-left:5px;
						background-color:#f4bfeb;
						height:22px;
						width:165px;
						margin-top:1px;
						margin-left:1px;
					}
					&:after{
						content:"";
						display:table;
						clear:both;
					}
				}
				&:after{
					content:"";
					display:table;
					clear:both;
				}
			}
		}
		.wrapper__method3__move-on{
			display:none;
			width:50px;
			height:50px;
			position:relative;
			top:-50px;
			left:760px;
			border-radius:50%;
			background-color:#f4bfeb;
			border:1px solid #fff;
			overflow:hidden;
			.move-on__link{
				display: block;
				width:50px;
				height:50px;
				overflow:hidden;
				position:absolute;
				top:0px;
				left:0px;
				@keyframes moveonInput{
					0% {
						transform: rotate(90deg) translateY(-13px) scale(0.6);
					}
					50%{
						transform: rotate(90deg) translateY(-18px) scale(0.9);
					}
					100%{
						transform: rotate(90deg) translateY(-13px) scale(0.6);
					}
				}
				&:after{
					content:"";
					display:block;
					width:0px;
					height:0px;
					border-top:25px solid transparent;
					border-left:25px solid transparent;
					border-right:25px solid transparent;
					border-bottom:25px solid #da27bc;
					/*transform: rotate(90deg) translateY(0px);*/
					animation: moveonInput 3s infinite;
				}
			}
		}
	}
	.auth{
		width:200px;
		height:180px;
		font-size:0.8rem;
		margin:-185px auto 0px;
		border:3px solid #fff;
		border-radius:20px;	
		color:#fff;
		position:relative;
		top:-7px;
		overflow:hidden;
		&:before{
			position:absolute;
			top:0px;
			left:0px;
			z-index:1;
			width:200px;
			height:360px;
			content:"";
			background:linear-gradient(to top,
			rgb(244, 83, 19) 0%,
			rgb(244, 226, 24) 50%,
			rgb(244, 83, 19) 100%);
			animation: moveGrad 9s infinite;
		}
		@keyframes authMoveUp{
			from{
				top:0px;	
			}
			to{
				top:-175px;
			}
		}
		@keyframes authMoveDown{
			from{
				top:-175px;	
			}
			to{
				top:0px;
			}
		}
		.auth__content_default-position{
			top:0px;
		}
		.auth__content_move-positionDown{
			top:0px;
			animation:authMoveDown 2s ease-out;
		}
		.auth__content_move-positionUp{
			top:-175px;
			animation:authMoveUp 2s ease-out;
		}
		.auth__content{
			position:absolute;
			left:0px;
			z-index:1;
			width:200px;
			height:360px;
			.auth__content_registration{
				height:180px;
				& > p{
					color:#000;
					font-weight:bold;
					text-align:center;
					margin-top:3px;
					font-size:$base-font-size - 2px;
				}
				form{
					width:170px;
					height:100px;
					margin:3px 10px 10px 10px;
					%warn{
						font-size:10px;
						color:#BF034E;
						margin-left:2px;
						text-align:center;
						font-weight:bold;
						width:78px;
						visibility:hidden;
						padding:1px;
						background:#f6f6f6;
						border-radius:5px;
						float:left;
					}
					.auth__content__logWarn{
						@extend %warn;
					}
					.auth__content__passWarn{
						@extend %warn;
					}
					.form-group{
						margin-bottom:0.2rem;
						label{
							color:#000;
							width:170px;
							div{
								&:after{
									content:"";
									display:table;
									clear:both;
								}
								span:first-child{
									width:90px;
									float:left;
									font-size:12px;
									word-wrap:break-word;
									span{
											display:block;
										}
								} 
							}
						}
						input[type='submit']{
							padding:0.1rem 0.2rem;
							line-height:1;
							margin:2px 0px 0px 50px;
							border:1px solid #fff;
						}
						.form-control{
							line-height:1;
							padding:0.1px 0.2rem;
							margin-top:5px;
						}
						.forgottenPass{
							border:1px solid #fff;
							margin:3px 0px 0px 34px;
							width:110px;
							padding:2px;
							border-radius:5px;
							label{
								position:relative;
								input{
									position:absolute;
									top:0px;
									left:90px;
								}
							}
						}
					}
				}	
			}
			.auth__content_restore{
				position:relative;
				.auth__content_restore-shadow{
					position:absolute;
					top:-10px;
					left:0px;
					right:0px;
					bottom:0px;
					background-color:rgba(0,0,0,0.7);
					display:none;
					z-index:1;
					& > div{
						position:absolute;
						top:30px;
						/*left:10px;*/
						height:10px;
						color:#fff;
						font-size:15px;
					}
					%notification{
						text-align:center;
						padding:10px;
						width:100%;
					}
					.auth__content_restore-shadow_networkConnectionError{
						@extend %notification;
						z-index:2;
						display:none;
					}
					.auth__content_restore-shadow_absentUserByEmail{
						@extend %notification;
						z-index:3;
						display:none;
					}
					.auth__content_restore-shadow_emailSuccessfullySent{
						@extend %notification;
						z-index:4;
						display:none;
					}
					.auth__content_restore-shadow_loadingProcess{
						z-index:5;
						display:none;
						height:40px;
						width:70%;
						text-align:center;
						top:90px;
						left:30px;
						@keyframes moveProcess{
							0%{
								background-position:0px 0px;
							}
							100%{
								background-position:120px 0px;
							}
						}
						&::after{
							content:"";
							display:block;
							height:15px;
							border:1px solid #fff;
							border-radius:5px;
							margin-top:5px;
							background-image: linear-gradient(to right,white,blue,white,blue,white,blue,white,blue,white,blue,white); 
							background-size:120px 20px;
							background-position:0px 0px;
							background-color:rgba(255,255,255,1);
							animation:moveProcess 2s linear 0s infinite;
						}
					}
				}
				height:180px;
				font-size:12px;
				color:#000;
				p{
					margin:0px 0px 0px 7px;
					width:181px;
					font-weight:bold;
					font-size:12px;
					text-align:center;
					input{
						margin:5px 0px 0px 0px;
					}
				}
				form{
					width:170px;
					height:100px;
					margin:3px 10px 0px 10px;
					fieldset{
						margin-top:10px;
						width:170px;
						legend{
							font-family:Lasco_Bold;
							font-size:$base-font-size - 6px;
						}
						label:nth-child(2){
							background-color:#f2e6a9;
							border-radius:5px;
							border:1px solid #f27126;
							margin-top:2px;
						}
						label{
							padding:4px 2px;
							input{
								margin:5px 0px 0px 0px;
							}
						}
						p:last-child{
							margin:0px 0px 0px 0px;
							input[type='submit']{
								padding:0.2rem 0.3rem;
								line-height:1;
								margin:5px 0px 0px 5px;
								border:1px solid #fff;
								background-color:#f72d2d;
								color:#000;
							}
						}	
					}
				}
				.auth__content_restore-up{
					width:40px;
					height:30px;
					padding:4px 2px;
					margin-left:0px;
					input[type='button']{
						padding:0.2rem 0.3rem;
						line-height:1;
						margin:0px 0px 0px 65px;
						border:1px solid #fff;
						background-color:#f4b342;
						&:hover{
							background-color:#fff314;
						}
					}
				}
			}
		}
	}
}
@keyframes greetingBlock{
	0%{
		top:$base-height / 2 - 260px;
		transform:scale(0.2,0.2);
	}
	20%{
		top:$base-height / 2 - 220px;
		transform:scale(0.3,0.3);
	}
	100%{
		top:($base-height - 200px) / 2;
		transform:scale(1,1);
	}
}
#greeting{
	width:($base-width + 10px);
	height:($base-height + 6px);
	background-color:rgba(0,0,0,0.8);
	position:absolute;
	top:0;
	left:0px;
	z-index:1000;
	$w:$base-width / 2;
	$h:$base-height - $w;
		.greeting-content{	
			width:$w;
			height:$h;
			animation-name: greetingBlock;
			animation-duration: 5s;
			animation-iteration-count: 1;
			animation-direction: normal;
			animation-timing-function: ease-out;
			background-color:#FED7A0;
			border:3px solid blue;
			border-radius:10px;
			position:absolute;
			left:($base-width - 400px) / 2;
			top:($base-height - 200px) / 2;
			z-index:1001;
			h1{
				text-align:center;
				padding:2px;
				border-bottom:2px solid #fff;
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				background-color:#E29BD1;
				font-family:Lasco_Bold;
				font-size:$base-font-size - 5px;
				span{
					display:block;
					color:#481A6E;
					font-weight:bold;
				}
			}
			.greeting-content__rus{
				text-align:center;
				text-indent:5px;
				background-color:#DBF0FF;
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				padding:3px;
				border-bottom:2px solid #fff;
				span{
					color:#5C40A9;
					font-weight:bold;
				}
			}
			.greeting-content__ukr{
				text-align:center;
				text-indent:5px;
				background-color:#FFFD9D;
				padding:3px;
				border-bottom:2px solid #fff;
				border-bottom-left-radius:5px;
				border-bottom-right-radius:5px;
				span{
					color:#5C40A9;
					font-weight:bold;
				}
			}
			#closeGreeting{
				display:block;
				width:40px;
				height:40px;
				position:absolute;
				top:$h - (40px + 5px);
				left:$w - (40px + 6px);
				border-top:3px solid blue;
				border-left:3px solid blue;
				border-top-left-radius:5px;
				border-bottom-right-radius:5px;
				&:before{
					content:"";
					display:block;
					width:7px;
					height:35px;
					border:1px solid #000;
					background-color:#f00;
					transform-origin:109% 77%;
					transform:rotate(45deg);
					transition:background-color 2s;
				}
				&:hover:before{background-color:#0f0;}
				&:after{
					content:"";
					display:block;
					width:7px;
					height:35px;
					border:1px solid #000;
					background-color:#f00;
					transform-origin:43% 50%;
					transform:rotate(132deg);
					position:relative;
					top:-35px;
					left:10px;
					transition:background-color 2s;
				}
				&:hover:after{background-color:#0f0;}
				&:hover{
					background-color:#F1EC8A;
				}
			}
		}
}
$settingsHeight:40px;
#basePanelText{
	width:110px;
	height:$settingsHeight;
	position:relative;
	top:-100%;
	left:0px;
	background-color:#e8b57b;
	transition: background-color 2s;
	border-bottom:2px solid #f8fc86;
	z-index:999;
	&:hover{
		background-color:#f9f509;
	}
	&:before{
		content:"";
		position:absolute;
		left:110px;
		top:0px;
		width:40px;
		height:$settingsHeight;
		background-color:#f7a445;
		border-bottom:2px solid #f8fc86;
		border-right:2px solid #f8fc86;
		border-left:2px solid #f8fc86;
		border-bottom-right-radius:5px;
		background-image:url('../../svg/wrench.svg');
		background-repeat:no-repeat;
		background-position:-2px -2px;
		z-index:998;
	}
	p{
		font-family:Lasco_Bold;
		font-size:$base-font-size + 1px;
		text-align:center;
		font-variant:small-caps;
		font-weight:bold;
	}
	p:first-of-type{
		font-size:$base-font-size + 2px;
	}
}
%settings__base__block{
	border:1px solid #afaf77;
	padding:1px;
	margin-bottom:2px;
	background-color:#e5d5b3;
}
.settings__base__slidePanel{
		$height:150px;
		position:absolute;
		left:0px;
		top:(($height * (-1)) + $settingsHeight);/* 150 * (-1) + 40 = -40 */
		width:150px;
		height:$height;
		padding:0px 5px;
		background-color:#f6f6f6;
		z-index:997;
		font-size:$base-font-size - 4px;
		font-family:Lasco_Bold;
		.settings__base_language{
			@extend %settings__base__block;
			.settings__base_language_header{
				
			}
			.settings__base_language_control{
				overflow:hidden;
				label:after{
					content:"";
					display:block;
					float:right;
					height:13px;
					width:20px;
					background-image: url('../../svg/flags.svg');
					background-repeat:no-repeat;
					background-size:40px 34px;
					border:1px solid #000;
				}
				label:first-child:after{
					background-position:-1px -23px;
				}
				label:last-child:after{
					background-position:-1px -12px;
					margin-left:3px;
				}
			}
		}
		.settings__base_music{
			@extend %settings__base__block;
			background-color:#b3e5b3;
			.settings__base_music_header{
				
			}
			.settings__base_music_control{
				label{
				
				}
			}
		}
		.settings__base_userPage{
			@extend %settings__base__block;
			.settings__base_userPage__userName{
				padding:0px 0px 0px 10px;
			}
			background-color:#f4b953;
			height:50px;
			.settings__base_userPage_profileShow{
				display:block;
			}
			.settings__base_userPage_profileHide{
				display:none;
			}
			#userSettingsPage{
				font-size:$base-font-size - 6px;
				width:100px;
				margin:5px 0px 0px 20px;
				border:1px solid yellow;
				border-radius:10px;
				display:block;
				text-align:center;
				text-decoration:none;
				padding:1px;
				background-color:#dbccab;
				color:#000;
				&:hover{
					background-color:#dbccab;
					border:2px solid yellow;
				}
			}
		}
}

