@import "reset";
$base-height:600px;
$base-width:800px;
$base-font-size:16px;
@keyframes moveGrad {
	0%{top: 0px;}
	50%{top: -180px;}
	100%{top: 0px;}
}
@mixin font($path,$font){
	@font-face{
		font-family:$font;
		font-style:normal;
		font-weight:normal;
		/*src:url('../../#{$path}/#{$font}.ttf') format('truetype');*/
		src:url('../../#{$path}/#{$font}.otf');
	}
}
@include font('fonts','Lasco_Bold');
/*Moving SVG letter's eyes*/
@mixin moveEeyes($classNum,$subNum,$cx:0,$cy:0,$reverse:false){
		@keyframes animEyes-#{$classNum}-#{$subNum} {
			0%{cx: #{$cx}px;}
			@if $reverse != true {
				50%{cx: #{$cx + 2}px;}
			}
			@else{
				50%{cx: #{$cx - 2}px;}
			}
			100%{cx: #{$cx}px;}
		}
}
/*First letter D*/
@include moveEeyes(l1,1,20,20);
@include moveEeyes(l1,2,40,20);
/*Second letter r*/
@include moveEeyes(l2,1,70,22,true);
@include moveEeyes(l2,2,87,22,true);
/*Third letter e*/
@include moveEeyes(l3,1,105,22);
@include moveEeyes(l3,2,117,22);
/*Fourth letter a*/
@include moveEeyes(l4,1,140,22,true);
@include moveEeyes(l4,2,155,22,true);
/*Fifth letter m*/
@include moveEeyes(l5,1,190,22);
@include moveEeyes(l5,2,210,22);
/*First letter T*/
@include moveEeyes(r1,1,18,14);
@include moveEeyes(r1,2,39,14);
/*Second letter e*/
@include moveEeyes(r2,1,60,22,true);
@include moveEeyes(r2,2,77,22,true);
/*Third letter a*/
@include moveEeyes(r3,1,102,22);
@include moveEeyes(r3,2,117,22);
/*Fourth letter c*/
@include moveEeyes(r4,1,142,22,true);
@include moveEeyes(r4,2,157,22,true);
/*Fifth letter h*/
@include moveEeyes(r5,1,192,23);
@include moveEeyes(r5,2,204,23);
html,body {
  font-size:$base-font-size;
  font-family:"Times New Roman";
  color:black;
  height:100%;
}
.wrapper{
	min-height:100%;
	width:100%;
	background-color:#f6f6f6;
	.wrapper__index{/*BG Image for main page*/
		height:$base-height;
		background-image:url('../../images/Main-page.png');
		background-position:center center;
		background-repeat:no-repeat;
		overflow:hidden;
		.wrapper__index__left{
			width:$base-width / 2;
			float:left;
			.wrapper__index__left_top{
				height:$base-height /3;
				svg{
					margin-left:120px;
				}
				/*background-color:yellow;*/
			}
			.wrapper__index__left_middle{
				height:$base-height /3;
				/*background-color:transparent;*/
				svg{
					margin-left:100px;
				}
				.eye1-1{
					animation:animEyes-l1-1  5s infinite;
				}
				.eye1-2{
					animation:animEyes-l1-2  5s infinite;
				}
				.eye2-1{
					animation:animEyes-l2-1  4s infinite;
				}
				.eye2-2{
					animation:animEyes-l2-2  4s infinite;
				}
				.eye3-1{
					animation:animEyes-l3-1  6s infinite;
				}
				.eye3-2{
					animation:animEyes-l3-2  6s infinite;
				}
				.eye4-1{
					animation:animEyes-l4-1  3s infinite;
				}
				.eye4-2{
					animation:animEyes-l4-2  3s infinite;
				}
				.eye5-1{
					animation:animEyes-l5-1  4s infinite;
				}
				.eye5-2{
					animation:animEyes-l5-2  4s infinite;
				}
			}
			.wrapper__index__left_bottom{
				height:$base-height /3;
				/*background-color:lightgreen;*/
			}
		}
		.wrapper__index__right{
			width:$base-width / 2;
			float:right;
			.wrapper__index__right_top{
				height:$base-height /3;
				svg{
					margin-left:75px;
				}
			}
			.wrapper__index__right_middle{
				height:$base-height /3;
				svg{
					margin-left:50px;
				}
				.eye1-1{
					animation:animEyes-r1-1  5s infinite;
				}
				.eye1-2{
					animation:animEyes-r1-2  5s infinite;
				}
				.eye2-1{
					animation:animEyes-r2-1  4s infinite;
				}
				.eye2-2{
					animation:animEyes-r2-2  4s infinite;
				}
				.eye3-1{
					animation:animEyes-r3-1  6s infinite;
				}
				.eye3-2{
					animation:animEyes-r3-2  6s infinite;
				}
				.eye4-1{
					animation:animEyes-r4-1  3s infinite;
				}
				.eye4-2{
					animation:animEyes-r4-2  3s infinite;
				}
				.eye5-1{
					animation:animEyes-r5-1  4s infinite;
				}
				.eye5-2{
					animation:animEyes-r5-2  4s infinite;
				}
			}
			.wrapper__index__right_bottom{
				height:$base-height /3;
			}
		}
	}
	.wrapper__profile{
		height:$base-height;
		background-color:#fce5c0;
		position:relative;
			$menu-height:80px;
			$marginLeft:(110px + 40px);
			$rest-width: ($base-width - $marginLeft);
		.wrapper__profile__smokeBlock_hide{
			display:none;
		}
		.wrapper__profile__smokeBlock_show{
			display:block;
			position:absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			z-index:1000;
			background-color:rgba(0,0,0,0.7);
			.wrapper__profile__smokeBlock__child{
				background-color:rgba(239,228,167,1);
				color:#000;
				width:300px;
				height:100px;
				margin:50% auto 0px;
				position:relative;
				top:-150px;
				border:7px solid #827f58;
				border-radius:5px;
				padding:5px;
				box-sizing:border-box;
				& > p{
					height:50%;
					text-align:center;
				}
				& > div{
						height:50%;
					button{
						display:inline-block;
						height:30px;
						width:100px;
						padding:5px;
						margin-left:25px;
						text-align:center;
						border:2px solid #827f58;
						&:hover{
							background-color:#e5df72;
						}
					}
				}
			}
			.wrapper__profile__smokeBlock__child-info{
				background-color:rgba(239,228,167,1);
				color:#000;
				width:300px;
				height:40px;
				margin:0% auto 0px;
				position:relative;
				top:-130px;
				border:5px solid #827f58;
				border-radius:5px;
				padding:5px;
				box-sizing:border-box;
				display:none;
				& > p{
					position:absolute;
					top:0px;
					left:0px;
					font-size:1.1em;
					padding:5px;
					width:100%;
					text-align:center;
					background-color:rgba(239,228,167,1);
				}
				& > p:first-of-type{
					z-index:auto;
				}
				& > p:last-of-type{
					z-index:auto;
				}
			}
			.wrapper__profile__smokeBlock__loader{
				z-index:5;
				display:none;
				height:40px;
				width:30%;
				text-align:center;
				position:relative;
				top:-95px;
				left:280px;
				@keyframes loadingProcess{
					0%{
						background-position:0px 0px;
					}
					100%{
						background-position:120px 0px;
					}
				}
				&::after{
					content:"";
					display:block;
					height:15px;
					border:1px solid #fff;
					border-radius:5px;
					margin-top:5px;
					background-image: linear-gradient(to right,white,blue,white,blue,white,blue,white,blue,white,blue,white); 
					background-size:120px 20px;
					background-position:0px 0px;
					background-color:rgba(255,255,255,1);
					animation:loadingProcess 2s linear 0s infinite;
				}
			}
		}	
		.wrapper__profile__leftColumn{
			$topOffset:(150px + 40px);
			background-color:#e8b57b;
			border-top:2px solid #f8fc86;
			border-bottom:2px solid #f8fc86;
			position:absolute;
			bottom:40px;
			left:0px;
			z-index:0;
			height:($topOffset + 370px);
			width:$marginLeft;
			.wrapper__profile__leftColumn__subSlidingMenu{
				width:150px;
				height:($topOffset + 130px);
				border-right:2px solid #f8fc86;
				background-color:#fce5c0;
			}
			#profileLeftColumn{
				width:150px;
				height:240px;
				border-right:2px solid #f8fc86;
				thead {
					display:block;
					border-bottom:2px double #f6f6f6;	
					th{
						font-family:Lasco_Bold;
						font-size:$base-font-size - 4px;
						padding:4px 0px 4px 10px;
						&:first-letter{
							font-size:$base-font-size - 1px;
							text-transform:uppercase;
							}
						}
				}
				tbody{
					td{
						svg{
							margin:0px 0px 0px 15px;
						}
					}
				}
				tfoot{
					border-top:2px double #f6f6f6;
					td{
						padding:4px 0px 8px 0px;
						.wrapper__profile__leftColumn__start{
							text-align:center;
							font-family:Lasco_Bold;
							font-size:$base-font-size - 4px;
							width:100px;
							display:block;
							margin:0px auto;
							&:hover{
								background-color:#f8fc86;
							}
						}
					}
				}
			}
		}
		.wrapper__profile__menu{
			width:$rest-width;
			margin-left:$marginLeft;
			height:$menu-height;
			background-color:#a67b35;
			padding-top:20px;
			.wrapper__profile__menu__nav{
				width:inherit;
				background-color:blue;
				ul{
					width:inherit;
					background-color:#e8b57b;
					li{
						width:($rest-width - 50px) / 4;
						height:40px;
						float:left;
						margin-left:10px;
						background:#f288ed url('../../svg/ball.svg') 0px 5px/25px 25px no-repeat padding-box border-box scroll;
						padding-left:25px;
						border:1px solid #000;
						a{
							display:block;
							height:38px;
							text-decoration:none;
							padding:5px;
							border-left:1px solid #000;
							background-color:#fce5c0;
							text-align:center;
							font-family:Lasco_Bold;
							font-size:$base-font-size - 4px;
						}
						.a-profile__menu__settings_active{
							background-color:#e8fcc1;
						}
						.a-profile__menu__methodOne_active{
							background-color:#fba99c;
						}
						.a-profile__menu__methodTwo_active{
							background-color:#c7ebfa;
						}
						.a-profile__menu__methodThree_active{
							background-color:#fad6f4;
						}
					}
					&:after{
						content:"";
						display:table;
						clear:both;
					}
				}
			}
		}
		.wrapper__profile__content{
			width:$rest-width;
			height:($base-height - $menu-height) - 5px;
			margin-left:$marginLeft;
			overflow:hidden;
			position:relative;
			@mixin profileColor($bgImage:"",$bgColor:#fda26d){
				@if $bgImage != ""{
					background:$bgColor url("../../images/#{$bgImage}") 20px 20px/330px 275px no-repeat padding-box border-box scroll;
				}
				@else{
					background-color:$bgColor;
				}
			}
			@include profileColor("",#fce5c0);
			%profile-content{
				width:($rest-width + 4px);
				height:($base-height - $menu-height) - 10px;
				border:2px solid #f8fc86;
				position:absolute;
				top:5px;
			}
			@keyframes movePanelForward{
				from{
					left:648px;
				}
				to{
					left:-2px;
				}
			}
			@keyframes movePanelBack{
				from{
					left:-2px;
				}
				to{
					left:648px;
				}
			}
			.wrapper__profile__move-default-content{
				left:-2px;
				z-index:4;
			}
			.wrapper__profile__move-forward-content{
				animation:movePanelForward 2s ease-out;
				left:-2px;
				z-index:4;
			}
			.wrapper__profile__move-back-content{
				animation:movePanelBack 2s ease-out;
				left:648px;
				z-index:1;
			}
			.wrapper__profile__content_settings{
				@include profileColor("locker.png",#e8fcc1);
				@extend %profile-content;
				form{
					width:370px;
					margin-left:270px;
					legend{
						font-family:Lasco_Bold;
						font-size:$base-font-size - 2px;
						padding:5px;
						text-align:center;
						&:first-letter{
							font-size:$base-font-size + 2px;
						}
					}
					fieldset{
						& > p{
							margin:5px 0px 0px 0px;
							padding:5px;
							border:2px solid #11d1a1;
							border-radius:5px;
							background-color:#c0dffb;
							label{
								margin-left:5px;
								display:block;
								background:transparent url("../../svg/yesNo.svg") 200px 0px/35px 47px no-repeat padding-box border-box scroll;
							}
							input[type="submit"]{
								color:#000;
								padding:2px 10px;
								&:hover{
									background-color:#f4f5cf;
								}
							}
						}
						p:nth-of-type(3){
							background-color:#f4f5cf;
						}
						.wrapper__profile__content_settings-notify{
							color:#0b8a08;
							display:block;
						}
						.wrapper__profile__content_settings-notify-hide{
							display:none;
						}
						.wrapper__profile__content_settings-warning{
							color:#f47a34;
							display:block;
						}
						.wrapper__profile__content_settings-warning-hide{
							display:none;
						}
					}
				}
			}
			.wrapper__profile__content_method-one{
				@include profileColor("",#fba99c);
				@extend %profile-content;
			}
			.wrapper__profile__content_method-two{
				@include profileColor("",#c7ebfa);
				@extend %profile-content;
			}
			.wrapper__profile__content_method-three{
				@include profileColor("",#fad6f4);
				@extend %profile-content;
			}
		}
	}
	.auth{
		width:200px;
		height:180px;
		font-size:0.8rem;
		margin:-185px auto 0px;
		border:3px solid #fff;
		border-radius:20px;	
		color:#fff;
		position:relative;
		overflow:hidden;
		&:before{
			position:absolute;
			top:0px;
			left:0px;
			z-index:1;
			width:200px;
			height:360px;
			content:"";
			background:linear-gradient(to top,
			rgb(244, 83, 19) 0%,
			rgb(244, 226, 24) 50%,
			rgb(244, 83, 19) 100%);
			animation: moveGrad 9s infinite;
		}
		@keyframes authMoveUp{
			from{
				top:0px;	
			}
			to{
				top:-175px;
			}
		}
		@keyframes authMoveDown{
			from{
				top:-175px;	
			}
			to{
				top:0px;
			}
		}
		.auth__content_default-position{
			top:0px;
		}
		.auth__content_move-positionDown{
			top:0px;
			animation:authMoveDown 2s ease-out;
		}
		.auth__content_move-positionUp{
			top:-175px;
			animation:authMoveUp 2s ease-out;
		}
		.auth__content{
			position:absolute;
			left:0px;
			z-index:1;
			width:200px;
			height:360px;
			.auth__content_registration{
				height:180px;
				& > p{
					color:#000;
					font-weight:bold;
					text-align:center;
					margin-top:3px;
					font-size:$base-font-size - 2px;
				}
				form{
					width:170px;
					height:100px;
					margin:3px 10px 10px 10px;
					%warn{
						font-size:10px;
						color:#BF034E;
						margin-left:2px;
						text-align:center;
						font-weight:bold;
						width:78px;
						visibility:hidden;
						padding:1px;
						background:#f6f6f6;
						border-radius:5px;
						float:left;
					}
					.auth__content__logWarn{
						@extend %warn;
					}
					.auth__content__passWarn{
						@extend %warn;
					}
					.form-group{
						margin-bottom:0.2rem;
						label{
							color:#000;
							width:170px;
							div{
								&:after{
									content:"";
									display:table;
									clear:both;
								}
								span:first-child{
									width:90px;
									float:left;
									font-size:12px;
									word-wrap:break-word;
									span{
											display:block;
										}
								} 
							}
						}
						input[type='submit']{
							padding:0.1rem 0.2rem;
							line-height:1;
							margin:2px 0px 0px 50px;
							border:1px solid #fff;
						}
						.form-control{
							line-height:1;
							padding:0.1px 0.2rem;
							margin-top:5px;
						}
						.forgottenPass{
							border:1px solid #fff;
							margin:3px 0px 0px 34px;
							width:110px;
							padding:2px;
							border-radius:5px;
							label{
								position:relative;
								input{
									position:absolute;
									top:0px;
									left:90px;
								}
							}
						}
					}
				}	
			}
			.auth__content_restore{
				position:relative;
				.auth__content_restore-shadow{
					position:absolute;
					top:-10px;
					left:0px;
					right:0px;
					bottom:0px;
					background-color:rgba(0,0,0,0.7);
					display:none;
					z-index:1;
					& > div{
						position:absolute;
						top:30px;
						/*left:10px;*/
						height:10px;
						color:#fff;
						font-size:15px;
					}
					%notification{
						text-align:center;
						padding:10px;
						width:100%;
					}
					.auth__content_restore-shadow_networkConnectionError{
						@extend %notification;
						z-index:2;
						display:none;
					}
					.auth__content_restore-shadow_absentUserByEmail{
						@extend %notification;
						z-index:3;
						display:none;
					}
					.auth__content_restore-shadow_emailSuccessfullySent{
						@extend %notification;
						z-index:4;
						display:none;
					}
					.auth__content_restore-shadow_loadingProcess{
						z-index:5;
						display:none;
						height:40px;
						width:70%;
						text-align:center;
						top:90px;
						left:30px;
						@keyframes moveProcess{
							0%{
								background-position:0px 0px;
							}
							100%{
								background-position:120px 0px;
							}
						}
						&::after{
							content:"";
							display:block;
							height:15px;
							border:1px solid #fff;
							border-radius:5px;
							margin-top:5px;
							background-image: linear-gradient(to right,white,blue,white,blue,white,blue,white,blue,white,blue,white); 
							background-size:120px 20px;
							background-position:0px 0px;
							background-color:rgba(255,255,255,1);
							animation:moveProcess 2s linear 0s infinite;
						}
					}
				}
				height:180px;
				font-size:12px;
				color:#000;
				p{
					margin:0px 0px 0px 7px;
					width:181px;
					font-weight:bold;
					font-size:12px;
					text-align:center;
					input{
						margin:5px 0px 0px 0px;
					}
				}
				form{
					width:170px;
					height:100px;
					margin:3px 10px 0px 10px;
					fieldset{
						margin-top:10px;
						width:170px;
						legend{
							font-family:Lasco_Bold;
							font-size:$base-font-size - 6px;
						}
						label:nth-child(2){
							background-color:#f2e6a9;
							border-radius:5px;
							border:1px solid #f27126;
							margin-top:2px;
						}
						label{
							padding:4px 2px;
							input{
								margin:5px 0px 0px 0px;
							}
						}
						p:last-child{
							margin:0px 0px 0px 0px;
							input[type='submit']{
								padding:0.2rem 0.3rem;
								line-height:1;
								margin:5px 0px 0px 5px;
								border:1px solid #fff;
								background-color:#f72d2d;
								color:#000;
							}
						}	
					}
				}
				.auth__content_restore-up{
					width:40px;
					height:30px;
					padding:4px 2px;
					margin-left:0px;
					input[type='button']{
						padding:0.2rem 0.3rem;
						line-height:1;
						margin:0px 0px 0px 65px;
						border:1px solid #fff;
						background-color:#f4b342;
						&:hover{
							background-color:#fff314;
						}
					}
				}
			}
		}
	}
}
@keyframes greetingBlock{
	0%{
		top:$base-height / 2 - 260px;
		transform:scale(0.2,0.2);
	}
	20%{
		top:$base-height / 2 - 220px;
		transform:scale(0.3,0.3);
	}
	100%{
		top:($base-height - 200px) / 2;
		transform:scale(1,1);
	}
}
#greeting{
	width:$base-width;
	height:$base-height;
	background-color:rgba(0,0,0,0.8);
	position:absolute;
	top:0;
	left:0px;
	z-index:1000;
	$w:$base-width / 2;
	$h:$base-height - $w;
		.greeting-content{	
			width:$w;
			height:$h;
			animation-name: greetingBlock;
			animation-duration: 5s;
			animation-iteration-count: 1;
			animation-direction: normal;
			animation-timing-function: ease-out;
			background-color:#FED7A0;
			border:3px solid blue;
			border-radius:10px;
			position:absolute;
			left:($base-width - 400px) / 2;
			top:($base-height - 200px) / 2;
			z-index:1001;
			h1{
				text-align:center;
				padding:2px;
				border-bottom:2px solid #fff;
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				background-color:#E29BD1;
				font-family:Lasco_Bold;
				font-size:$base-font-size - 5px;
				span{
					display:block;
					color:#481A6E;
					font-weight:bold;
				}
			}
			.greeting-content__rus{
				text-align:center;
				text-indent:5px;
				background-color:#DBF0FF;
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				padding:3px;
				border-bottom:2px solid #fff;
				span{
					color:#5C40A9;
					font-weight:bold;
				}
			}
			.greeting-content__ukr{
				text-align:center;
				text-indent:5px;
				background-color:#FFFD9D;
				padding:3px;
				border-bottom:2px solid #fff;
				border-bottom-left-radius:5px;
				border-bottom-right-radius:5px;
				span{
					color:#5C40A9;
					font-weight:bold;
				}
			}
			#closeGreeting{
				display:block;
				width:40px;
				height:40px;
				position:absolute;
				top:$h - (40px + 5px);
				left:$w - (40px + 6px);
				border-top:3px solid blue;
				border-left:3px solid blue;
				border-top-left-radius:5px;
				border-bottom-right-radius:5px;
				&:before{
					content:"";
					display:block;
					width:7px;
					height:35px;
					border:1px solid #000;
					background-color:#f00;
					transform-origin:109% 77%;
					transform:rotate(45deg);
					transition:background-color 2s;
				}
				&:hover:before{background-color:#0f0;}
				&:after{
					content:"";
					display:block;
					width:7px;
					height:35px;
					border:1px solid #000;
					background-color:#f00;
					transform-origin:43% 50%;
					transform:rotate(132deg);
					position:relative;
					top:-35px;
					left:10px;
					transition:background-color 2s;
				}
				&:hover:after{background-color:#0f0;}
				&:hover{
					background-color:#F1EC8A;
				}
			}
		}
}
$settingsHeight:40px;
#basePanelText{
	width:110px;
	height:$settingsHeight;
	position:relative;
	top:-100%;
	left:0px;
	background-color:#e8b57b;
	transition: background-color 2s;
	border-bottom:2px solid #f8fc86;
	z-index:999;
	&:hover{
		background-color:#f9f509;
	}
	&:before{
		content:"";
		position:absolute;
		left:110px;
		top:0px;
		width:40px;
		height:$settingsHeight;
		background-color:#f7a445;
		border-bottom:2px solid #f8fc86;
		border-right:2px solid #f8fc86;
		border-left:2px solid #f8fc86;
		border-bottom-right-radius:5px;
		background-image:url('../../svg/wrench.svg');
		background-repeat:no-repeat;
		background-position:-2px -2px;
		z-index:998;
	}
	p{
		font-family:Lasco_Bold;
		font-size:$base-font-size + 1px;
		text-align:center;
		font-variant:small-caps;
		font-weight:bold;
	}
	p:first-of-type{
		font-size:$base-font-size + 2px;
	}
}
%settings__base__block{
	border:1px solid #afaf77;
	padding:1px;
	margin-bottom:2px;
	background-color:#e5d5b3;
}
.settings__base__slidePanel{
		$height:150px;
		position:absolute;
		left:0px;
		top:(($height * (-1)) + $settingsHeight);/* 150 * (-1) + 40 = -40 */
		width:150px;
		height:$height;
		padding:0px 5px;
		background-color:#f6f6f6;
		z-index:0;
		font-size:$base-font-size - 4px;
		font-family:Lasco_Bold;
		.settings__base_language{
			@extend %settings__base__block;
			.settings__base_language_header{
				
			}
			.settings__base_language_control{
				overflow:hidden;
				label:after{
					content:"";
					display:block;
					float:right;
					height:13px;
					width:20px;
					background-image: url('../../svg/flags.svg');
					background-repeat:no-repeat;
					background-size:40px 34px;
					border:1px solid #000;
				}
				label:first-child:after{
					background-position:-1px -23px;
				}
				label:last-child:after{
					background-position:-1px -12px;
					margin-left:3px;
				}
			}
		}
		.settings__base_music{
			@extend %settings__base__block;
			background-color:#b3e5b3;
			.settings__base_music_header{
				
			}
			.settings__base_music_control{
				label{
				
				}
			}
		}
		.settings__base_userPage{
			@extend %settings__base__block;
			.settings__base_userPage__userName{
				padding:0px 0px 0px 10px;
			}
			background-color:#f4b953;
			height:50px;
			.settings__base_userPage_profileShow{
				display:block;
			}
			.settings__base_userPage_profileHide{
				display:none;
			}
			#userSettingsPage{
				font-size:$base-font-size - 6px;
				width:100px;
				margin:5px 0px 0px 20px;
				border:1px solid #ea8e1e;
				border-radius:10px;
				&:hover{
					background-color:#dbccab;
				}
			}
		}
}

