block variables
	- var mainPage, profilePage, listVerbs, methods, method1, method2, method3;
doctype html
html
	include head-block/head.pug
	body
		div(class="wrapper")
			block appContent
		include settings/settings.pug