div(id="greeting" data-language="greeting")
	div(class="greeting-content")
		h1 Неправильные английские глаголы. 
			span (На русском языке)
			| Неправильні англійські дієслова.
			span (На українській мові)
		p(class="greeting-content__rus")
			| Программа-тренажёр для изучения английских неправильных глаголов.
			br
			span Придумайте свой Логин 
			br 
			span и свой  Пароль и начни обучение!
		p(class="greeting-content__ukr")
			| Програма-тренажер для вивчення англійських неправильних дієслів.
			br
			span Придумайте свій Логін 
			br 
			span і свій Пароль та почни навчання!
		button(id="closeGreeting")