section(class="wrapper__profile__failed-results" id="displayFailedResults")
	div
		button(id="closeFailedResults") X
	div(class="failed-results__display-data" id="displayIfPresentFailed")
	div(class="failed-results__absent-data-hide" id="displayIfZeroFailed")
		p Congratulations! You have never made a mistake.