extends ../layout.pug
block variables
	- mainPage = false;
	- profilePage = false;
	- listVerbs = false;
block appContent
	div(class="wrapper__exercises")
		div(class="wrapper__exercises__main")
			div(class="card wrapper__exercises__main__exercise-1")
				h5(class="card-header") Упражнение 1
				div(class="card-body")
					h5(class="card-title") Соответствие переводу.
					p(class="card-text") Дана одна попытка, чтобы отметить строку, в которой отсутствует ошибка  (английские глаголы не спутаны в соответствии с переводом c глаголами из других строк).
					a(href="#" class="btn btn-primary") Начать
			div(class="card wrapper__exercises__main__exercise-2")
				h5(class="card-header") Упражнение 2
				div(class="card-body")
					h5(class="card-title") Соответствие структуре. 
					p(class="card-text") Определить, находятся ли глаголы в строке на своих местах. Дана одна попытка, чтобы отметить строку или пропустить её.
					a(href="#" class="btn btn-primary") Начать
			div(class="card wrapper__exercises__main__exercise-3")
				h5(class="card-header") Упражнение 3
				div(class="card-body")
					h5(class="card-title") Произвести перестановку.
					p(class="card-text") Необходимо переставить неправильные глаголы на свои места согласно переводу.
					a(href="#" class="btn btn-primary") Начать