div(class="info-panel__pages")
	span(class="info-panel__pages-text") Страница
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="40" height="40" viewbox="0 0 40 40">
		<text x="12" y="30" stroke="#fff" stroke-width="2" font-size="30" fill="#fba99c" font-family="Helvetica">1</text>
	</svg>
	span(class="info-panel__dash") -
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="40" height="40" viewbox="0 0 40 40">
		<text x="12" y="30" stroke="#fff" stroke-width="2" font-size="30" fill="#fba99c" font-family="Helvetica">5</text>
	</svg>
div(class="info-panel__timer")
	span(class="info-panel__timer-text") Осталось времени:
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="90" height="40" viewbox="0 0 40 40">
		<text x="0" y="30" stroke="#fff" stroke-width="2" font-size="30" fill="#fba99c" font-family="Verdana">300</text>
	</svg>