extends ../layout.pug
block variables
	- mainPage = false;
	- profilePage = false;
	- listVerbs = false;
block appContent
	div(class="wrapper__method1")
		div(class="wrapper__method1__main")
			p Method 1