head
	meta(charset='utf-8')
	title= title
	meta(name='viewport' content='width=device-width, initial-scale=1')
	link(href='../../public/css/bootstrap/bootstrap.min.css' type='text/css' rel='stylesheet')
	link(href='../../public/css/style.css' type='text/css' rel='stylesheet')
	script(type='text/javascript' src='../../public/js/settings/settings.js')
	script(type='text/javascript' src='/socket.io/socket.io.js')
	script(type='text/javascript' src='../../public/js/io.language/io.language.js')
	script(type='text/javascript' src='../../public/js/auth/auth.js')