head
	meta(charset='utf-8')
	title= title
	meta(name='viewport' content='width=device-width, initial-scale=1')
	link(href='../../public/css/bootstrap/bootstrap.min.css' type='text/css' rel='stylesheet')
	link(href='../../public/css/style.css' type='text/css' rel='stylesheet')
	script(type='text/javascript' src='../../public/js/settings/settings.js')
	script(type='text/javascript' src='/socket.io/socket.io.js')
	script(type='text/javascript' src='../../public/js/io.language/io.language.js')
	if(mainPage)
		script(type='text/javascript' src='../../public/js/auth/auth.js')
	if(profilePage)
		script(type='text/javascript' src='../../public/js/profile/profile.js')
	if(listVerbs)
		script(type='text/javascript' src='../../public/js/profile/listVerbs.js')
	if(methods)
		script(type='text/javascript' src='../../public/js/methods/methods.js')
	if(method1)
		script(type='text/javascript' src='../../public/js/methods/method1/method1.js')
	if(method2)
		script(type='text/javascript' src='../../public/js/methods/method2/method2.js')
	if(method3)
		script(type='text/javascript' src='../../public/js/methods/method3/method3.js')
	if(resultPage)
		script(type='text/javascript' src='../../public/js/method_results/resultProcessing.js')