extends ../layout.pug
block variables
	- mainPage = true;
	- profilePage = false;
	- listVerbs = false;
block appContent
	div(class="wrapper__index")
		include left-team-svg.pug
		include right-team-svg.pug
	include auth.pug
	include greeting/greeting.pug