section(class="wrapper__index__right")
	div(class="wrapper__index__right_top")
		include taughtSVG.pug
	div(class="wrapper__index__right_middle")
		include teachSVG.pug
	div(class="wrapper__index__right_bottom")