<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="250px" height="80px">
	<g>
		<text x="8" y="62" font-size="60" font-weight="bold" font-family="Verdana" fill="#f00" stroke="#00f" stroke-width="2">T</text>
		<ellipse cx="18" cy="14" rx="8" ry="10" fill="#ffffff" stroke="#000000" stroke-width="1"></ellipse>
		<circle class="eye1-1" cx="18" cy="14" r="5" fill="#000000" stroke="#000000" stroke-width="1"></circle>
		<ellipse cx="39" cy="14" rx="8" ry="10" fill="#ffffff" stroke="#000000" stroke-width="1"></ellipse>
		<circle class="eye1-2" cx="39" cy="14" r="5" fill="#000000" stroke="#000000" stroke-width="1"></circle>
	</g>
	<g>
		<text x="48" y="62" font-size="60" font-weight="bold" font-family="Verdana" fill="#f00" stroke="#00f" stroke-width="2">e</text>
		<ellipse cx="60" cy="22" rx="6" ry="8" fill="#ffffff" stroke="#000000" stroke-width="1"></ellipse>
		<circle class="eye2-1" cx="60" cy="22" r="4" fill="#000000" stroke="#000000" stroke-width="1"></circle>
		<ellipse cx="77" cy="22" rx="6" ry="8" fill="#ffffff" stroke="#000000" stroke-width="1"></ellipse>
		<circle class="eye2-2" cx="77" cy="22" r="4" fill="#000000" stroke="#000000" stroke-width="1"></circle>
	</g>
	<g>
		<text x="90" y="62" font-size="60" font-weight="bold" font-family="Verdana" fill="#f00" stroke="#00f" stroke-width="2">a</text>
		<ellipse cx="102" cy="22" rx="6" ry="8" fill="#ffffff" stroke="#000000" stroke-width="1"></ellipse>
		<circle class="eye3-1" cx="102" cy="22" r="4" fill="#000000" stroke="#000000" stroke-width="1"></circle>
		<ellipse cx="117" cy="22" rx="6" ry="8" fill="#ffffff" stroke="#000000" stroke-width="1"></ellipse>
		<circle class="eye3-2" cx="117" cy="22" r="4" fill="#000000" stroke="#000000" stroke-width="1"></circle>
	</g>
	<g>
		<text x="130" y="62" font-size="60" font-weight="bold" font-family="Verdana" fill="#f00" stroke="#00f" stroke-width="2">c</text>
		<ellipse cx="142" cy="22" rx="6" ry="8" fill="#ffffff" stroke="#000000" stroke-width="1"></ellipse>
		<circle class="eye4-1" cx="142" cy="22" r="4" fill="#000000" stroke="#000000" stroke-width="1"></circle>
		<ellipse cx="157" cy="22" rx="6" ry="8" fill="#ffffff" stroke="#000000" stroke-width="1"></ellipse>
		<circle class="eye4-2" cx="157" cy="22" r="4" fill="#000000" stroke="#000000" stroke-width="1"></circle>
	</g>
	<g>
		<text x="170" y="62" font-size="60" font-weight="bold" font-family="Verdana" fill="#f00" stroke="#00f" stroke-width="2">h</text>
		<ellipse cx="192" cy="23" rx="6" ry="8" fill="#ffffff" stroke="#000000" stroke-width="1"></ellipse>
		<circle class="eye5-1" cx="192" cy="23" r="4" fill="#000000" stroke="#000000" stroke-width="1"></circle>
		<ellipse cx="204" cy="23" rx="6" ry="8" fill="#ffffff" stroke="#000000" stroke-width="1"></ellipse>
		<circle class="eye5-2" cx="204" cy="23" r="4" fill="#000000" stroke="#000000" stroke-width="1"></circle>
	</g>
</svg>